/* AppComponent's private CSS styles */
h1 {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0;
}
h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}
ul.header {
    list-style: none;
    margin: 0 0 2rem 0;
    padding: 0
}
ul.header li {
    display: inline-block;
    margin: 0.5rem 1rem 0 0;
}
ul.header li a {
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}
ul.header li a:visited, a:link {
    color: #607D8B;
}
ul.header li a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}
ul.header li a.active {
    color: #039be5;
}